<div class="card mb-4">
  <!-- <img class="card-img-top" src="<%= post.image_url %>" alt="Card image cap"> -->
  <%= image_tag post.image_url, class: "card-img-top", alt: "Card image cap" %>
  <!-- CARD BODY -->
  <div class="card-body">
    <h2 class="card-title"><%= post.title %></h2>
    <p class="card-text">
      <%= post.content %>
    </p>
    <!-- <a href="#" class="btn btn-primary">Read More →</a> -->
    <%= link_to "Read More", post_path(post), class: "btn btn-primary" %>
  </div>
  <!-- CARD FOOTER -->
  <div class="card-footer text-muted">
    Posted on January 1, 2017 by
    <a href="#">Start Bootstrap</a>
  </div>
</div>